<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
<MudThemeProvider Theme="Color"></MudThemeProvider>

@code
{
    MudTheme Color = new MudTheme
        {
            Palette = new Palette
            {
                Info = "FFD740",
                Warning = "304FFE",
                Success = "C62828",
                Error = "33691E",
                Dark = "757575"
            }
        };
}
